body{
    font-family:  Comic Sans MS, Helvetica, sans-serif;
    background-color: #191717;
    margin: 0;
}

.hero{
    background-image: url(../img/Colored\ Shapes.svg);
    height: 500px;
    background-position: right center;
    /* ocupa a area inteira, mesmo que tire um pouco da imagem */
    background-size: cover;
    /* resolve o problema do espaço no topo */
    border-top: 1px solid transparent;
}

.hero-content{
    text-align: center;
    color: white;
    margin-top: 150px;
}

.hero-content h1{
    text-transform: uppercase;
    font-size: 30px;
    text-shadow: 3px 3px 2px #333;
    color: white;
    margin-top: 210px;
}

main{
    width: 80%;
    /* centraliza */
    margin: auto;
}


.content-section{
    background-color: rgba(0,0,0, 0.2);
    padding: 10px;
    margin-top: 50px;
    overflow: auto;
    border-radius: 10px;
}

.content-section a{
    text-decoration: none;
    color: #191717;
}

.content-section a:hover{
    color: orange;
}

.card p{
    background-color: #8d8989;
    color: white;
    margin: 0;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card{
    float: left;
    width: 32%;
    box-sizing: border-box;
}

.card-1, .card-2{
    margin-right: 2%;
}

.card img{
    width: 100%;
    /* a img é um elemento inline, entao pra nao ter o espaco em branco, transformo em bloco */
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content-header h2{
    background-color: #ccc;
    margin-top: 0.5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.resumo{
    width: 40%;
    color: white;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 40px;
    display: inline-block;
}

.rodape{
    text-align: center;
    background-color: #413e3e;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    margin-top: 50px;
}

.hero nav ul{
    text-align: right;
    margin: 10px 23px 0 0;
}

.hero nav li{
    /* continua sendo uma linha mas posso aplicar coisas de block */
    display: inline-block;
    list-style: none;
    border: 1px solid white;
    margin-top: 10px;
    margin-left: 15px;
}

.hero nav a{
    /* rgba - cor com transparencia */
    background-color: rgba(0,0,0, 0.3);
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.hero nav a:hover{
    background-color: orange;
}