body{
    background-color: #F5F5F5;
    font-family: Comic Sans MS, Helvetica, sans-serif;
    width: 90%;
    display: block;
    margin: auto;
    position: relative; /*AQUI*/
}

.menu_superior nav{
    position: absolute;
    margin-top: 10px;
}

.menu_superior li{
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 5px 20px;
    margin-left: 10px;
    background-color: #29cbdb;
}

.botao_menu_superior a:hover{
    background-color: aquamarine;
}

p{
    font-family: Comic Sans MS, Helvetica, sans-serif;
    font-size: 19px;
    text-align: justify;
    text-indent: 50px;
    color: black;
}

h3{
    font-family: Comic Sans MS, Helvetica, sans-serif; 
    color: #29cbdb;

}

.satelites_orbitando_terra{
    width: 25%;
    display: block;
    margin: 0 auto;
}

.distancia_pontos img{
    width: 40%;
    display: block;
    margin: 0 auto;
}

#introducao{
    margin-top: 50px;
}

.conteudo{
    margin-left: 200px;
    margin-right: 200px;
    position: absolute;
}

h1{
    text-align: center;
    color: black;
    font-size: 30px;
    padding-left: 25px;
    width: 90%;
    position: relative;
    margin-top: 120px;
}

.base_celular{
    width: 20%;
    display: block;
    margin: 0 auto;
}

.imagem_celular{
    position: relative;
}

.card_camera{
    position: absolute; /* define a posição absoluta para a imagem */
    top: 70px; /* posiciona a imagem no topo do elemento pai */
    left: 320px; /* posiciona a imagem à esquerda do elemento pai */
    z-index: 1; /* define a ordem de empilhamento para que fique por cima da outra imagem */
    width: 4%;
}

.card_gps{
    position: absolute; /* define a posição absoluta para a imagem */
    top: 70px; /* posiciona a imagem no topo do elemento pai */
    left: 390px; /* posiciona a imagem à esquerda do elemento pai */
    z-index: 1; /* define a ordem de empilhamento para que fique por cima da outra imagem */
    width: 4%;
}

.card_ligacao{
    position: absolute; /* define a posição absoluta para a imagem */
    top: 150px; /* posiciona a imagem no topo do elemento pai */
    left: 355px; /* posiciona a imagem à esquerda do elemento pai */
    z-index: 1; /* define a ordem de empilhamento para que fique por cima da outra imagem */
    width: 4%;
}

.card_camera:hover{
    border: 2px solid orange;
    border-radius: 6px;
}

.card_gps:hover{
    border: 2px solid orange;
    border-radius: 6px;
}

.card_ligacao:hover{
    border: 2px solid orange;
    border-radius: 6px;
}

a:hover{
    background-color: orange;
}