* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }

body{
    background-color: #F5F5F5;
    /*font-family: Comic Sans MS, Helvetica, sans-serif;*/
    /*font-family: Helvetica, Arial, sans-serif;*/
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    width: 100%;
    display: block;
    margin-bottom: 40px;
}

main{
    margin: 0 auto;
    width: 60%;
}

.menu_superior a{
    display: inline-block;
    /*padding: 15px;*/
    padding: 0px;
    text-decoration: none;
}

.menu_superior li{
    list-style: none;
    border: 1px solid rgba(0,0,0,0.3);
    /*border-radius: 10px;*/
    background-color: #29cbdb;
    /*background-color: orange;*/
    /*padding: 5px 15px;*/
    padding: 10px 10px;
    margin: 20px 0;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}

.menu_superior li:hover{
    background-color: rgba(0,0,0,0.8);
    transition-duration: 0.4s;
}

.menu_superior{
    overflow: auto;
}

.menu_superior ul{
    float: right;
    margin-right: 100px;
}

.menu_superior{
    border: 1px solid rgba(0,0,0,0.1);
    /*background-color: rgba(0,0,0,0.1);*/
    background-color: #F5F5F5;
}

p{
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
    text-indent: 50px;
    color: black;
    line-height: 1.7;
}

h3{
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    color: #29cbdb;
    margin: 0 0 20px 0;

}

.satelites_orbitando_terra{
    width: 25%;
    display: block;
    margin: 0 auto;
}

.distancia_pontos img{
    width: 40%;
    display: block;
    margin: 0 auto;
}

figcaption{
    text-align: center;
}

#introducao{
    margin-top: 50px;
}

.celular_completo{
    width: 20%;
    display: block;
    margin: 0 auto;
}

#camera{
    margin-top: 30px;
}

#gps{
    margin-top: 50px;
}

#ligacao{
    margin-top: 50px;
}

h4{
    margin: 20px 0;
    color: #29cbdb;
}

h1{
    color: rgb(38, 37, 37);
    font-size: 40px;
    padding-left: 0px;
    width: 90%;
    position: relative;
    margin-top: 80px;
}

.wrapper{
    position: relative;
    margin-left: 200px;
}

.base_celular{
    width: 25%;
}

.card_camera{
    width: 6%;
    margin: 60px 30px 100px 22px;
}

.card_gps{
    width: 6%;
    margin: 60px 10px 100px 85px;
}

.card_ligacao{
    width: 6%;
    margin: 150px 50px 20px 55px;
}

.base_celular, .card_gps, .card_camera, .card_ligacao {
    position: absolute;
}

.card_camera:hover{
    border: 2px solid orange;
    border-radius: 6px;
}

.card_gps:hover{
    border: 2px solid orange;
    border-radius: 6px;
}

.card_ligacao:hover{
    border: 2px solid orange;
    border-radius: 6px;
}

/*responsividade*/

@media screen and (max-width: 768px){
    main{
        width: 90%;
    }

    .menu_superior a{
        display: block;
        margin-top: 0;
    }

    .menu_superior li{
        font-size: 20px;
    }

    .menu_superior ul{
        margin-right: 4%;
    }

    .distancia_pontos img{
        width: 90%;
    }

    .celular_completo{
        width: 25%;
    }

    .satelites_orbitando_terra{
        width: 80%;
    }

    p{
        font-size: 23px;
    }


}
